/*--------------------------------------
-----Made by Rox10, edited by FAXES-----
--------------------------------------*/
body { 
	background-color: black !important;
}



@font-face {
    font-family: sign;
    src: url(signpainter.ttf);
}
@font-face {
    font-family: gothicb;
    src: url(gothicb.ttf);
}

h1.changelogheader {
	font-family:sign;
	font-size:3.5vw;
	color:#FFF;
	text-shadow: .1vw .1vw  #000;
	text-align: center;
	margin-top:0vw;
}
h1.changelogdesc {
	font-family:gothicb;
	font-size:2.3vw;
	color:#FFF;
	text-shadow: 0vw 0vw .2vw #000;	
	background: black;
	
}
ul.changelogd {
	font-family:gothicb;
	font-size:1.7vw;
	color:#FFF;
	text-shadow: 0vw 0vw .2vw #000;	
	background: black;
	
}
.scrollbar {
	margin-left: 0px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	margin-bottom: 25px;
	background: black;
}

#style-1::-webkit-scrollbar,
#style-2::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar,
#style-5::-webkit-scrollbar,
#style-6::-webkit-scrollbar,
#style-7::-webkit-scrollbar,
#style-8::-webkit-scrollbar,
#style-9::-webkit-scrollbar,
#style-10::-webkit-scrollbar,
#style-11::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
/**  STYLE 2 */
#style-2::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #5584e0;
}

#style-2::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

img {
	display: inline-block;
	max-width: 98%;
	height: auto;
	width: 64.5vw;
	position:absolute; left:0%; top:0%; z-index:3px;
	background: black;
}

.changelog {
	display: inline-block;
	height: 100%;
	width: 98.7%;
	position:absolute; left:0%; top:0%;
	background-color:#b5d5e7;
	padding:.7vw;
	text-align:left;
	font-family: Century Gothic; 
	font-size:1vw;
	background: black;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.release { 
	background-color:rgba(0, 255, 255, 0.0);
	border:.2vw solid rgba(73, 73, 73, 0.3);
	padding:.5vw;		
	margin-bottom:.7vw;
}

.closebtn {
	display: inline-block;
	height: 3vw;
	width: 3vw;
	margin: 1vw; 
	position:absolute; 
	left: 58.5vw; 
	top: 0vw; 
	z-index: 3px;
}

#btnleft {
	display: inline-block;
	max-width: 98%;
	height: auto;
	width:7.58vw;
	margin: 1vw;  
	position: absolute; 
	left: 8.9vw; 
	top: 10.3vw;
}

#btnright {
	display: inline-block;
	max-width: 98%;
	height: auto;
	width: 7.58vw;
	margin: 1vw; 
	position: absolute; 
	left: 82vw; 
	top: 10.3vw; 
	z-index: 3px;
}

#spawnclick {
	display: inline-block;
	max-width: 98%;
	height: auto;
	width: 63vw;
	margin: 1vw; 
	position: absolute; 
	left: 17.78vw; 
	top: 39.4vw; 
	z-index: 3;
}